@font-face {
  font-family: "Jeko";
  src: url("../src/assets/Fonts/FontsFree-Net-Jeko-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../src/assets/Fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Filson Pro";
  src: url("../src/assets/Fonts/filson/FilsonPro-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: "Jeko", sans-serif;
  height: 100%;
}

body.lang-ar {
  
  font-family: "Tajawal", sans-serif;

}

.font-gilroy {
  font-family: "Gilroy", sans-serif;
}

.font-gilroy-light {
  font-family: "Gilroy Light", sans-serif;
}
