@font-face {
  font-family: "Jeko";
  src: url("../src/assets/Fonts/FontsFree-Net-Jeko-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* Add this to your global CSS file (e.g., index.css or App.css) */
@import url("https://fonts.googleapis.com/css2?family=Jeko:wght@400;500;700&display=swap");

@font-face {
  font-family: "Jeko";
  src: url("../src/assets/Fonts/FontsFree-Net-Jeko-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: "Jeko", sans-serif;
}
